.table {
    width:100%;
    margin-top: 0px;
    border-top: 1px solid #3f51b5;
    border-collapse: collapse;
}

.th {
    border-bottom: 1px solid #3f51b5;
    padding:10px;
    text-align:center;
    background-color: white;
    color: #3f51b5;
}

.td {
    border-bottom: 1px solid #9e9e9e;
    padding:10px;
    text-align:center;
    background-color: white;
}

.desc {
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

.aikoBoard {
    color:#3f51b5;
    margin-left:30px;
}

.formControl {
    width:100px;
}

.postButtonContainer {
    display:block;
    width:100%;
    margin-left:88%;
    margin-top:20px;
    margin-bottom:2px;
}

.root{
    display:flex;
    justify-content:center;
}

.tbody {
    width:100%;
}

.paginateDiv {
    display:flex;
    flex-direction:row;
    align-items:center;
    text-align:center;
    justify-content:center;
}

.aTag {
    text-decoration:none;
    border: 1px solid #eee;
    text-align:center;
    float:left;
    padding:6px;
    margin-right:3px;
    width:30px;
    font: bold 12px tahoma;
    color:#3f51b5;
}

.aTag:hover {
    border: 1px solid #3f51b5;
    transition: all 0.5s;
    cursor: pointer;
}

.forRows {
    display:flex;
    flex-direction:row;
    align-items:center;
    text-align:center;
}
