/* [companyPk].js */
.mainContainer {
    width:80%;
    height:88%;
    display:flex;
    margin: auto;
    margin-top: 10px;
}

/* DriveFolder.js */
.folderContainer {
    width: 25%;
    height: auto;
    border:2px dotted grey;
    overflow:hidden;
}

/* DriveFile.js */
.fileContainer {
    width:80%;
    height:auto;
    border: 2px dotted grey;
    margin-left:10px;
    overflow:scroll;
}

.modalDiv {
    display:flex;
    padding:20px;
}

.folderDiv {
    width:100%;
    height:auto;
    display:flex;
    flex-wrap: wrap;
    overflow: auto;
}

.fileDiv {
    margin-left:10px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    overflow: auto;
}

.fileModal {
    width:50vw;
    height:50vh;
}

.fileDetailDiv {
    width: 50vw;
    height: 60vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.filePreview {
    width: 50%;
    height: 90%;
    border: 2px dotted grey;
    margin:5px;
}

/* DriveUpload.js */
.dragDropDiv {
    border: 3px dotted grey;
    margin: 10px;
    padding: 15px;
}

/* DriveFileMove.js */
.moveFileModalContainer {
    width: 50vw;
    height: 50vh;
}

.moveFileModalInnerContainer{
    width: 90%;
    height: 80%;
    border: 2px dotted grey;
    align-items:center;
    text-align:center;
    margin: auto;
    overflow:auto;
}

/* DriveBin.js */
.folderBinDiv {
    width:100%;
    height:auto;
    display:flex;
    flex-wrap: wrap;
    overflow: hidden;
}