/* [companyPk].js */
.mainContainer {
    width:80%;
    height:80%;
    display:flex;
}

/* DriveFolder.js */
.folderContainer {
    width: 20%;
    height:100%;
    border:1px solid black;
}

/* DriveFile.js */
.fileContainer {
    width:80%;
    height:100%;
    border: 1px solid black;
}