
.reviseDelete {
    display:flex;
    justify-content:space-between;
    width:70%;
    margin:auto;
    margin-top:2%;
    margin-bottom: 5%;
}

.align {
    display:flex;
}

.outerContainer {
    display:block;
    margin:30px auto;
    width:90%;
    height:100%;
    background-color:white;
    border-radius:10px;
}

.anotherPost {
    display:flex;
    flex-direction:column;
}

.previousPost {
    display:flex;
    direction:row;
}

.nextPost {
    display:flex;
    direction:row;
}

.contentInput {
    width:85%;
    border: 2px solid #aaa;
    border-radius:4px;
    outline: none;
    padding: 8px;
    box-sizing:border-box;
    transition:.3s;
    resize:none;
    height:300px;
    font-size:15px;
}

.contentInput:focus {
    border-color:dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

.titleName {
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-top:50px;
    margin-bottom:30px;
    justify-content:center;
}

.contentArea {
    text-align:center;
}

.titleInput {
    width:50%;
    height:50px;
    font-size:20px;
    border:none;
    background:transparent;
    margin-right:10%;
}

.fileInput {
    width:85%;
    display:block;
    margin:0 auto;
    display:flex;
    flex-direction:column;
}

.files {
    width:25%;
    margin:2px 0px 2px 0px ;
    cursor:pointer;
    font-size:15px;
    color: #3F51B5;
}
