.outerContainer {
    width:90%;
    height:170%;
    background-color: #DEE1ED;
    display:block;
    margin:50px auto;
    box-sizing:border-box;
    border-radius:10px;
}

.upperContainer {
    background-color:#dee1ed;
    width:100%;
    height:20%;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:10px;
}


.profileInfo {
    width:60%;
    height:70%;
    background-color:white;
    margin-left:30px;
    display:flex;
    flex-direction:row;
    border-radius:10px;
    overflow:hidden;
}

.leftDiv {
    height:100%;
    width:40%;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}

.rightDiv {
    height:100%;
    width:60%;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}


.icons {
    display:flex;
    flex-direction:row;
}

.lowerContainer {
    background-color:#dee1ed;
    width:100%;
    height:60%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    flex-wrap:wrap;
    border-radius:10px;
}

.btnDiv {
    height:40%;
    width:65%;
    background-color:white;
    border-radius:10px;
}

.logDiv {
    height:40%;
    width:65%;
    background-color:white;
    margin-top:20px;
    border-radius:10px;
}

.buttons {
    height:40%;
    width:60%;
    background-color:#c4c4c4;
    border-radius:20px;
    margin-top:5px;
    margin-left:5px;
    align-items:center;
    text-align:center;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-evenly;
}

.optionDiv {
    height:80%;
    width:25%;
    background: white;
    margin-right:15px;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-evenly;
}

.tabs {
    background:none;
    cursor: pointer;
    display:inline-block;
    border-top:1px solid #c4c4c4;
    border-left:1px solid #c4c4c4;
    border-right:1px solid #c4c4c4;
    background-color:white;
    border-radius: 10px 10px 0px 0px;
    color:#5c5c5c;
    height:50px;
}

.tabContainer {
    width:90%;
    height:80%;
    display:block;
    margin:0 auto; 
}

.actionItemsOuterContainer {
    width: 100%;
    height: 80%;
    background-color:white;
    display:block;
    margin: 0 auto;
    border-radius:5px;
}


.modalOuterContainer {
    position:fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    background: rgba(0,0,0,0.6);
}

.modalInnerContainer {
    background-color: white;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    overflow:hidden;
    display:block;
    margin: 2% auto;
}

.modalTopBar {
    display:inline-block;
    background-color:#3f51b5;
    width:100%;
    height:12%;
}

.modalTopBarDesc {
    width:70%;
    color:white;
    font-size:25px;
    font-weight:bold;
}

.modalTopBarContentsDiv {
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}

.modalButtonDiv {
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin:0 auto;
}

.actionItemTableDiv {
    width:90%;
    display:block;
    margin:0 auto;
    overflow:hidden;
}

.actionItemTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.actionItemTr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.theadTd {
    padding: 20px 15px;
}

.modalInputDiv {
    display:flex;
    flex-direction:row;
    height:15%;
    align-items:center;
    width:90%;
    justify-content:center;
    margin: 0 auto;
}

.styledTable {
    border-bottom: 1px solid #dddddd;
}

.styledTd {
    padding: 10px 15px;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    background-color:#EAECEE;
    color:#2E4053
}

.styledTable:last-of-type {
    border-bottom: 2px solid #009879;
}

.styledTable:hover {
    font-weight: bold;
}