.aTag {
    text-decoration:none;
    border: 1px solid #eee;
    text-align:center;
    float:left;
    padding:6px;
    margin-right:3px;
    width:30px;
    font: bold 12px tahoma;
    color:#3f51b5;
}

.aTag:hover {
    border: 1px solid #3f51b5;
    transition: all 0.5s;
    cursor: pointer;
}