.wrapper {
    background-color: #002aff54;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150%;
}

.resizing {
    height: 80%;
}
.btnWrapper {
    flex-direction: row;
}
.btnWrapper > button {
    margin: 10px;
}
.formDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formDiv > div {
    margin: 10px;
}
