.writeBoard {
    display:block;
    margin:30px auto;
    width:90%;
    height:80%;
    background-color:#fbfbfb;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

.root {
    width: 70%;
    height:70%;
}

.titleInput{
    display:flex;
    flex-direction:column;
}

