# node modules
node_modules
package-lock.json

# configs
default.json

# database
database.json

# mailer
mailConfig.json
emailBotAddress.json

# test
test.js
test.ts

# Transcompiled javascript in backend part
dist

# uploaded files
upload

# rest test
rest_test

# ds store
.DS_STORE
server2/yarn.lock
