# node modules
node_modules
package-lock.json

# configs
default.json

# database
database.json

# mailer
mailConfig.json
emailBotAddress.json

# test
test.js
test.ts

# Transcompiled javascript in backend part
dist

# uploaded files
upload

# rest test
rest_test

# ds store
.DS_STORE
server2/yarn.lock

# yarn
.yarn
.yarn/*
.yarn/releases
.yarn/plugins
.yarn/sdks
.yarn/versions

# if you are NOT using Zero-installs, then:
# comment the following lines
.yarn/cache

# and uncomment the following lines
# .pnp.*
