.member-container {
    width: 200px;
}

.message-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.member-info {
    display: flex;
    align-items: center;
}

.messages-wrapper {
    flex: 1;
    background: #e8eaf6;
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px;
    overflow: auto;
}

.message-item {
    display: flex;
    flex-direction: column;
}

.message-wrapper {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    max-width: 70%;
}

.message-wrapper-right {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: flex-end;
    max-width: 70%;
}

.input-message-wrapper {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.member-user-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.member-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ededed;
    box-shadow: 0 0 6px #a5a4a4;
}

.contents {
    display: flex;
    align-items: flex-end;
}

.contents-right {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.member-search {
    display: flex;
    margin: 20px 20px 0;
}
