.EApprovalWriteDiv {
    width: 75%;
    height: 100%;
    border: 1px solid #b1b1b1;
    border-radius: 4px;
    min-width: 10vw;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.titleWriterDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.authDiv {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-left: 30px;
}

.approval {
    border-collapse: collapse;
}

.approval td {
    border: 1px solid #bdbdbd;
}

.approval .name {
    height: 35px;
}

.approval .signature {
    height: 70px;
}

.detailDiv {
    display: flex;
    flex-direction: column;
}

.detailDiv .title {
    display: flex;
    align-items: center;
}

.submitButton {
    display: flex;
    justify-content: right;
    margin: 30px 100px 30px 30px;
}
